
.form-container{
  display:flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.form-field-items{
  justify-content: center;
  flex-grow: 1;
  flex-flow: row wrap;
}
.form-field-input {
  width: 350px;
  margin-inline: 20px;
  margin-top: 20px;
}

.book-form-field-textarea {
  margin: 20px;
  width: 350px;
}

.crud-button-save{
  background-color: #86d56f;

}
.bt-cancel-bottom, .crud-button-save{
  float: right;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.table-title{
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-top: 20px;
}
