<app-login-register-layout title="Register"
                           buttonName="register"
                           (submit)="onSubmit()"
                           [disableButton]="!registerForm.valid"
                           message="Each page turns into a new adventure and every chapter unlocks a world of imagination."
                           redirectText="Already have an account?"
                           redirectUrl="/login"
                           redirect="login"
>

  <section class="form-group">

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-field-items">

            <div>
              <mat-form-field class="form-field-input" appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" name="name" matInput #inputName type="text" maxlength="240"
                       placeholder="Your name">
                @if (registerForm.controls.name.invalid) {
                  <mat-error>Name is invalid</mat-error>
                }
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="form-field-input" appearance="outline">
                <mat-label>E-mail</mat-label>
                <input formControlName="username" name="userName" matInput #inputUsername type="email" maxlength="240"
                       placeholder="example@gmail.com">
                @if (registerForm.controls.username.invalid) {
                  <mat-error>E-mail is invalid</mat-error>
                }
              </mat-form-field>
            </div>

            <div>
              <mat-form-field class="form-field-input" appearance="outline">
                <mat-label>Password</mat-label>
                <input formControlName="password" name="password" matInput #inputPassword type="password">
                @if (registerForm.controls.password.invalid) {
                  <mat-error>Password is invalid</mat-error>
                }
              </mat-form-field>
            </div>
              <div>

                <mat-form-field class="form-field-input" appearance="outline">
                  <mat-label>Confirm password</mat-label>
                  <input formControlName="confirmPassword" name="confirmPassword" matInput #inputConfirmPassword
                         type="password">
                  @if (registerForm.errors?.['PasswordNoMatch']) {
                    <mat-error>Passwords doesn't match</mat-error>
                  } @else if (registerForm.controls.confirmPassword.invalid){
                    <mat-error>Mandatory field</mat-error>
                  }
                </mat-form-field>

              </div>

              <div>
                <mat-form-field class="form-field-input" appearance="outline">
                  <mat-label>Data of birth</mat-label>
                  <input formControlName="dataBirth" name="dataBirth" matInput [matDatepicker]="picker" [min]="minDate" [max]="maxDate">

                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle [for]="picker" matIconSuffix></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>

                  @if (registerForm.controls.dataBirth.invalid) {
                    <mat-error>data is invalid</mat-error>
                  }
                </mat-form-field>
              </div>

          </div>
    </form>
  </section>
</app-login-register-layout>
