<mat-toolbar>
    <div>
      <a [routerLink]="['']"> <img src="assets/logo.png" alt=""></a>

    </div>
    <span class="mat-toolbar-spacer"></span>
    <div class="example-button-row">
      <button mat-button [routerLink]="['/products']">Products</button>
      <button mat-button [routerLink]="['/books']">Books</button>
      <button mat-button [routerLink]="['/mugs']">Mugs</button>
      <button mat-button [routerLink]="['/cart']">Cart</button>
      <button mat-button [routerLink]="['/account']">Account</button>
    </div>

</mat-toolbar>

