<section>
    <form class="mat-elevation-z8" [formGroup]="bookForm" (ngSubmit)="onSubmit()">
      <div class="table-title">
        <h1>{{titlePage}}</h1>
      </div>
      <br>
      <mat-divider></mat-divider>
      <mat-form-field class="book-form-field-input">
        <mat-label>Title</mat-label>
        <input formControlName="title" name="title" matInput #inputTitle maxlength="240" placeholder="Ex. 100 anos..." >
        <mat-hint>{{inputTitle.value.length}}/240</mat-hint>
      </mat-form-field>

      <mat-form-field class="book-form-field-input">
        <mat-label>Author</mat-label>
        <input formControlName="author" name="author" matInput #inputAuthor maxlength="150" placeholder="Ex. Gabriel Garcia...">
        <mat-hint>{{inputAuthor.value.length}}/150</mat-hint>
      </mat-form-field>

      <mat-form-field class="book-form-field-input">
        <mat-label>Edition</mat-label>
        <input formControlName="edition" name="edition" matInput #inputEdition maxlength="150" placeholder="Ex. Pocket edtion n150">
        <mat-hint>{{inputEdition.value.length}}/150</mat-hint>
      </mat-form-field>

      <mat-form-field class="book-form-field-input">
        <mat-label>Publisher</mat-label>
        <input formControlName="publisher" name="publisher" matInput #inputPublisher maxlength="150" placeholder="Ex. Intrincica, Darkside books...">
        <mat-hint>{{inputPublisher.value.length}}/150</mat-hint>
      </mat-form-field>

      <mat-form-field class="book-form-field-input">
        <mat-label>Year of release</mat-label>
        <input formControlName="releaseYear" name="releaseYear" matInput type="number" id="releaseYear" class="example-right-align" placeholder="1992">
      </mat-form-field>

      <mat-form-field class="book-form-field-input">
        <mat-label>Price</mat-label>
        <input formControlName="price" name="price"  matInput type="number" class="example-right-align" placeholder="$&nbsp; 00.00">
      </mat-form-field>

      <mat-form-field class="book-form-field-input">
        <mat-label>Quantity</mat-label>
        <input formControlName="quantity" name="quantity" matInput type="number" id="quantity" class="example-right-align" placeholder="0">
      </mat-form-field>

      <mat-form-field class="book-form-field-input" >
        <mat-label>Status</mat-label>
        <mat-select placeholder="Item is active" formControlName="active" id="active">
          <mat-option value="true">Item is active</mat-option>
          <mat-option value="false">Item is not active</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-divider></mat-divider>
      <mat-form-field class="book-form-field-textarea">
        <mat-label>Description</mat-label>
        <textarea formControlName="description" name="description" id="description" matInput #inputDescription maxlength="400" ></textarea>
        <mat-hint>{{inputDescription.value.length}}/400</mat-hint>
      </mat-form-field>

      <button mat-flat-button class = "crud-button-save" mat-raised-button
              matTooltip="Save the book data" type="submit">
        Save
      </button>

      <button mat-flat-button mat-raised-button color="primary" class="bt-cancel-bottom"
              matTooltip="Cancel" [routerLink]="['/books']">
        Cancel
      </button>

    </form>
</section>
