$main-color: #beb8e4;
$button-toolbar-color: #565365;
.example-button-row {
  display: table-header-group;
  max-width: 600px;
}
.mat-sidenav-container{
  background: $main-color;
  height: 3.5rem;
}

