<app-login-register-layout title="Login"
                           buttonName="login"
                           (submit)="onSubmit()"
                           [disableButton]="!loginForm.valid"
                           message="Bringing Stories to Life and Making Every Reading Experience Unique"
                           redirectText="Don't have an account?"
                           redirectUrl="/register"
                           redirect="register"
>
         <section class="form-group">

           <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

             <div class="form-field-items">

               <div>
                 <mat-form-field class="form-field-input" appearance="outline">
                   <mat-label>E-mail</mat-label>
                   <input formControlName="userName"  name="userName" matInput #inputEmail type="email" maxlength="240"
                          placeholder="example@gmail.com">
                   @if (loginForm.controls.userName.invalid) {
                     <mat-error>E-mail is invalid</mat-error>
                   }
                 </mat-form-field>
               </div>

               <div>
                 <mat-form-field class="form-field-input" appearance="outline">
                   <mat-label>Password</mat-label>
                   <input formControlName="password" name="password" matInput #inputPassword type="password">
                   @if (loginForm.controls.password.invalid) {
                     <mat-error>Password is invalid</mat-error>
                   }
                 </mat-form-field>
               </div>

             </div>
           </form>
         </section>
</app-login-register-layout>
