
.mat-form-field{
  font-size: 14px;
  width: 80%;
}

.form-filter{
  display: flex;
  margin-left: 20px;
}

.table-title{
  text-align: center;
  padding-top: 20px;
}
.mat-column-select {
  overflow: initial;
}

.crud-button{
  float: right;
  margin-right: 20px;
  margin-bottom: 40px;
}
