table {
  width: 100%;
  margin-bottom: 50px;
  padding-bottom: 20px;
}

.mat-form-field{
  font-size: 14px;
  width: 80%;
}

.form-filter{
  display: flex;
  margin-left: 20px;
}

.table-title{
  text-align: center;
  padding-top: 20px;
}
.mat-column-select {
  overflow: initial;
}

.crud-button{
  display: flex;
  float: right;
  margin: 10px 10px 40px;
}

.title-and-general-actions{
  margin-bottom: 30px;
}

.inactive-item{
  background: rgb(225, 102, 102);
}

.no-data{
  padding-left: 20px;
}
