.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: normal;
  justify-content: right;
  align-content: normal;
  background-color: #d4d2fc;
  background-image: url("/assets/login_bg.svg");
  background-size: cover;
  background-position: center;
}

.logo-container {
  height: auto;
  text-align: center;
  justify-content: flex-start;
  display: grid;
  width: 70rem;
  position: initial;
}
.logo-img{

}

.session{
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background-color: white;

}

.form-container{
  display: inline-flex;
  justify-content: center;
  width: 35rem;
  height: auto;

}
h2{
  color: white;
  text-align: center;
  font-weight: lighter;
  margin-left: 15%;
  margin-right: 15%;
}
.login-form{
  flex-direction: column;
  justify-content: center;
}
.form-group {
  margin: 25px 25px 10px;
  align-items: center;
  justify-content: center;
}

.form-field-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
}
.form-field-input {
  width: 250px;
  align-items: center;
  justify-content: center;
  height: min-content;
  font-size: x-small;
}

.button-submit{
  width: 250px;
  background-color: #b0a8e7 !important;
  align-items: center;
  align-content: flex-end;
  justify-content: center;
}
.buttons{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.table-title{
  text-align: center;

}
.foot-form{
  padding-top: 15px;
  align-items: flex-end;
  justify-content: center;
  text-align: center;
  font-size: small;
}

.form-group {
  margin: 25px 25px 10px;
  align-items: center;
  justify-content: center;
}
.form-field-items{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

